<div class="row custom-grid-background">
  <div class="container">
    <div class="row row-cols-3 row-cols-lg-4">
      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_5.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_6.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_4.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_5.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_6.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_4.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_5.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_6.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_4.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_5.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_6.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_4.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_5.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_6.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_4.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_5.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_6.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_4.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_5.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_6.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_4.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_5.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_6.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-strech">
        <div class="card">
          <div class="card-body">
            <div class="card-img-actions">
              <img src="assets/images/carousel_images_4.jpeg" class="card-img img-fluid" alt="">
            </div>
          </div>

          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="text-default mb-2" data-abc="true">Toshiba Notebook with 500GB HDD & 8GB RAM</a>
              </h6>

              <a href="#" class="text-muted" data-abc="true">Laptops & Notebooks</a>
            </div>

            <h3 class="mb-0 font-weight-semibold">$250.99</h3>

            <div>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i>
            </div>

            <div class="text-muted mb-3">34 reviews</div>

            <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>